.login-main{
    padding-top:30px;
    padding-bottom: 30px;
}
.login-text h2{
    text-transform: uppercase;
    font-size: 20px;
}
.login-form{
    margin-top:20px;
    position: relative;
}
.login-form-input{
    padding: 10px!important;
    
}
.login-btn{
    background-color:#1d4504!important;
    color: white;
    text-transform: uppercase;
    font-weight: bold!important;
    position: absolute!important;
    right:0;
    /* bottom:0; */

}
.btn2{
    bottom:2px;
}