.product-detail {
  text-align: center;
  position: relative;
  /* z-index: 999!important; */
}

.product-detail-main {
  width: 100%;
  position: relative;
}
.product-detail::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(108%);
  height: calc(100%);
  padding: 12px;
  transition: all 2s;
  background: rgba(255, 255, 255, 0);
  border: solid 2px rgba(0, 0, 0, 0.2);
  /* z-index: 2; */
  display: none;
}
.product-detail:hover::before {
  display: block;
  height: calc(170%);
  transition: all 2s;
}
.product-detail-hien {
  width: 100%;
  overflow: hidden;
  transition: all 2s;
}

.product-detail-img {
  height: 200px;
  width: 100%;
  transition: all 2s;
}
.product-detail:hover .product-detail-img {
  transform: scale(1.1);
}

.product-detail-title {
  margin-top: 10px;
}
.product-detail-name {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 22px;
  height: 44px;
  margin-bottom: 5px;
  overflow: hidden;
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.658);
}
.product-detail-price {
  font-weight: bold;
  color: #8a171a;
  font-size: 18px;
  margin-bottom: 0px;
}
.product-detail-priceSale {
  /* font-weight: bold; */
  /* color: #8a171a; */
  position: absolute;
  font-size: 12px;
  margin-bottom: 0px;
  text-decoration-line: line-through;
  bottom: 5px;
  right: 10px;
  
}
.product-detail-hidden {
  margin-top: 15px;
  display: none;
  transition: all 0.3s;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  top: 100%;
  background-color: white;
  padding-bottom:10px;
}
.product-detail:hover .product-detail-hidden {
  display: block;
  transition: all 0.3s;
}
.product-detail-origin {
  line-height: 20px;
  font-size: 0.875em;
}
.product-toggle-cart {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}
.product-detail-total {
  color: rgb(43, 191, 60);
  margin: 0;
}
.product-detail-total b {
  color: rgb(235, 106, 20);
}
.text-sale {
  text-decoration-line: line-through;
}
.pdT {
  /* margin-top:25px; */
}
.icon-heart{
  position:absolute;
  font-size: 30px;
  top:10px;
  right:10px;
  cursor: pointer;
  /* background-color:rgb(43, 191, 60); */
}
.icon-heart-red{
  color: red!important;
}
.img-top-buy{
  position:absolute;
  width:60px;
  height:60px;
  top:30px;
  right:0;
}
