.sliderProduct{
  width:100%!important;
  height:370px;
  max-height: 100%;
  border-radius: 15px,
}
.sliderProduct img{
  border-radius: 15px!important;

}
.sliderProduct .slick-arrow{
  display:none!important;
}

